# http://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[test/fixtures/**.{css,less}]
indent_size =

[test/fixtures/**.{css.map,lint}]
insert_final_newline = false

[{CHANGELOG,README}.md]
indent_size = 2

[package.json]
indent_size = 2

[.travis.yml]
indent_size = 2
