# http://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.travis.yml]
indent_size = 2

; The default indent on package.json is 2 spaces, better to keep it so we can
; use `npm install --save` and other features that rewrites the package.json
; file automatically
[package.json]
indent_size = 2

[test/less/*.css.map]
insert_final_newline = false
